@use "./partials/common" as *;
@use "./partials/reset" as *;
@use "./partials/variables" as *;
@use "./partials/mixin" as *;
@use "./partials/utils" as *;
@use "./partials/typography" as *;

/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
}

.logo-nav-guest {
    height: 50px;
}

.jumbo-bg {
    position: relative;
    background-image: url("/resources/img/welcome-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Black overlay with 50% opacity */
    z-index: 0;
}

.card-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.preview-show {
    width: 250px;
    object-fit: cover;
}
